@using Loteria.Data.Core
@using Loteria.Data.Extensions
@using Loteria.Data.Models

<h3>@Title</h3>
@Description
<div class="columns is-multiline is-vcentered is-mobile lg-line fit-content-div">
    <div>
        Probabilidades en base a @Tickets son => <b> @probability% </b>
    </div>
    <div class="column is-12 lg-center-flex">
        @foreach (Loto loto in Lotos)
        {
            <ul class="lg-numbers-small">
                <li class="lg-number">@loto.Numero1</li>
                <li class="lg-number">@loto.Numero2</li>
                <li class="lg-number">@loto.Numero3</li>
                <li class="lg-number">@loto.Numero4</li>
                <li class="lg-number">@loto.Numero5</li>
                <li class="lg-number">@loto.Numero6</li>
                <li class="lg-number lg-reversed">@loto.Mas</li>
            </ul>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string Description { get; set; } = "";
    [Parameter]
    public List<Loto> Lotos { get; set; } = new();
    [Parameter]
    public float Tickets { get; set; } = 1;
    [Parameter]
    public float LotosInDb { get; set; }

    float lotoProbabilty = 2760681f;

    string probability = "";

    protected override void OnParametersSet()
    {
        probability = ((1 / (lotoProbabilty - LotosInDb) * Tickets) / 0.01f).ToString("N7");
        base.OnParametersSet();
    }
}